.screenshot-chrome {
    .screenshot-frame;
    .screenshot-frame-window;
    
    padding-top: 80px;
    background: rgba(245, 245, 245, 1);
    background: -moz-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 40px, rgba(254, 254, 254, 1) 40px, rgba(234, 234, 234, 1) 79px, rgba(122, 122, 122, 1) 79px, rgba(122, 122, 122, 1) 80px, rgba(255, 255, 255, 0) 81px, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0px, rgba(245, 245, 245, 1)), color-stop(40px, rgba(234, 234, 234, 1)), color-stop(40px, rgba(254, 254, 254, 1)), color-stop(79px, rgba(234, 234, 234, 1)), color-stop(79px, rgba(122, 122, 122, 1)), color-stop(80px, rgba(122, 122, 122, 1)), color-stop(80px, rgba(255, 255, 255, 0)), color-stop(80px, rgba(255, 255, 255, 100%)));
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 40px, rgba(254, 254, 254, 1) 40px, rgba(234, 234, 234, 1) 79px, rgba(122, 122, 122, 1) 79px, rgba(122, 122, 122, 1) 80px, rgba(255, 255, 255, 0) 81px, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 40px, rgba(254, 254, 254, 1) 40px, rgba(234, 234, 234, 1) 79px, rgba(122, 122, 122, 1) 79px, rgba(122, 122, 122, 1) 80px, rgba(255, 255, 255, 0) 81px, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 40px, rgba(254, 254, 254, 1) 40px, rgba(234, 234, 234, 1) 79px, rgba(122, 122, 122, 1) 79px, rgba(122, 122, 122, 1) 80px, rgba(255, 255, 255, 0) 81px, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(234, 234, 234, 1) 40px, rgba(254, 254, 254, 1) 40px, rgba(234, 234, 234, 1) 79px, rgba(122, 122, 122, 1) 79px, rgba(122, 122, 122, 1) 80px, rgba(255, 255, 255, 0) 81px, rgba(255, 255, 255, 0) 100%);
    &:before,
    &:after {
        content: '';
        position: absolute;
    }
    &:before {
        left: 150px;
        top: 48px;
        right: 60px;
        height: 26px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #eaeaea;
    }
    &:after {
        left: 10px;
        top: 10px;
        width: 100%;
        height: 60px;
        -webkit-background-size: contain;
        background-size: contain;
        /* inject:svg_bg_img */background-image: url('data:image/svg+xml;utf8,');/* endinject */
    }
}